@model Greco2.Models.Denuncia.DenunciaModelView

<style>

    .completar {
        border-color: orangered;
    }

    input[type=text], input[type=date], input[type=time], label {
        max-width: 280px;
        height: 30px;
        margin-right: 50px;
    }

    text {
        color: dodgerblue;
        margin-left: 10px;
        /*margin-top: 15px;*/
        max-width: 220px;
        /*background-color:lightgray;*/
    }

    .leftText {
        text-align: left;
    }

    input[type=checkbox] {
        margin-left: 80px;
        margin-right: 1px;
    }

    /*#comboOrganismos, #comboEstudios, #comboModalidadGestion, #comboSubTipoProceso, #comboMediador, #comboDomicilioMediador,
    #comboMotivoReclamo, #comboServicioDenunciado, #comboEstadoConciliacion, #comboTipoEvento, #comboReqInforme,
    #comboListaTipoEvento {
        width: 180px;
    }*/

    input[type=button] {
        border-radius: 4px;
    }

    .h-divider {
        margin-top: 25px;
        /*margin-bottom: 5px;*/
        height: 1px;
        width: 100%;
        border-top: 1px solid #0066ff;
    }

    .borde {
        /*display:flex;*/
        /*border-style: solid;*/
        background-color: white;
        /*border-color: #cccccc;*/
        /*border-color: #808080;*/
        border-color: #999999;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
        /*margin-left: -25px;*/
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #ParentContainer, #grupoDenunciantesContainer {
        /*background-color: #f2f2f2;*/
        background-color: #e6e6e6;
        border-radius: 4px;
        padding-top: 10px;
        /*margin-left: -10px auto;
        margin-right: -10px auto;*/
        /*width:1200px;*/
    }

    #grupoDenunciantesContainer {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    #Buscador, #Cleaner, #alta {
        margin-left: -30px;
        height: 25px;
        /*width:25px;*/
        justify-content: center;
        padding-left: 7px;
        padding-right: 7px;
    }

    #checkEvento {
        margin-left: 10PX;
    }

    .bordeBotonera {
        border-radius: 4px;
        padding-left: 25px;
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
        background-color: white;
        height: 42px;
    }

    .btnGuardar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .container-fluid {
        margin: 0 auto;
    }

    th {
        max-width: 200px;
        padding: 5px 5px 5px 5px;
    }

    table {
        text-align: center;
    }

    .menu {
        /*background-color: #00547E;*/
        /*background-color: #002966;*/
        background-color: #337ab7; /*#0066ff #0047b3 #262626 #666666 #d9d9d9 #bfbfbf #337ab7*/
        /*background:linear-gradient(#002966,#0047b3);*/
        /*border-bottom: 8px solid #04A3ED;*/
        border-bottom: 4px solid #04A3ED;
        /*border-bottom: 4px solid #d9d9d9;*/
        border-radius: 4px;
        width: 120%;
        height: 40px;
        /*padding: 10px 10px;*/
        position: static;
        margin-top: -20px;
        /*margin: 0px;*/
        margin-left: -110px;
        /*margin-right: -50px;*/
        z-index: 1;
        /*height: 35px;*/
        /*opacity: 0.9;*/
    }

        .menu .navbar-nav > .active > a {
            background-color: #04A3ED;
            color: white;
            font-weight: bold;
        }

        .menu .navbar-nav > li > a {
            font-size: 13px;
            color: white;
            padding: 10px 35px;
        }

            .menu .navbar-nav > li > a:hover {
                background-color: #04A3ED;
            }

    .navbar-header > a {
        font-family: 'Ubuntu Condensed', sans-serif;
        padding: 0px;
        margin: 0px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        /*font-size: 20px;*/
        padding: 5px 30px;
    }

        .navbar-header > a:hover {
            text-decoration: none;
            color: #04A3ED;
        }

    .form-control {
        max-height: 30px;
    }

    .row {
        max-height: 55px;
    }


    /*a:active {
        background-color: #e6e6e6;
    }*/

</style>@*background-color: #f2f2f2;*@


<div display="flex" id="ParentContainer" class="col-xs-12">
    <div class="borde">
        <input type="hidden" value="@Model.tipoProcesoSeleccionado" id="tipoProcesoSeleccionado" />
        <div class="row">
            <label class="col-xs-2">Etapa Procesal: </label>
            @Html.DropDownListFor(m => m.estadoSeleccionado, Model.Estados, "", new { @class = "col-xs-1 form-control", id = "comboEtapaProcesal", style = "margin-left:-30px;margin-right:40px;" })

            <label class="col-xs-2">Número Denuncia: </label>
            <text id="nroDenuncia" class="col-xs-1">@Model.denuncia.DenunciaId</text>
            <input type="hidden" id="idDatosCoprec" class="col-xs-1" value="@Model.denuncia.idDatosCoprec" />
        </div>
        <div class="row">
            <label class="col-xs-2">Tipo Proceso: </label>

            @Html.DropDownListFor(m => m.tipoProcesoSeleccionado, Model.tiposProceso, "", new { @class = "col-xs-1 form-control", id = "comboTiposProceso", style = "margin-left:-30px;margin-right:40px;" })

            <label class="col-xs-2">Usuario Creador: </label>
            <text class="col-xs-2">Usuario-Creador</text>
            <input type="hidden" name="coprecValues" value="@Model.denuncia.idDatosCoprec" />
        </div>
        <div class="row">
            <label class="col-xs-2">Denuncia Preventiva: </label>
            <label class="col-xs-3"></label>
            <label class="col-xs-2" style="margin-left:-30px;">Denuncia Formal: </label>
            <label class="col-xs-3"></label>
        </div>
    </div>


    <div class="borde">
        <div class="row">
            <label class="col-xs-3">Denunciante : </label>
            <img src="@Url.Content("~/Images/4.gif")" id="loading" style="display:none;" />

            <text id="denuncianteResult">@Model.datosDenunciante</text><text id="denuncianteBuscado"></text>
            @*<input type="text" id="inputdatosDenunciante" value="@Model.datosDenunciante" style="border-style:none;"/>*@
        </div>

        <input type="hidden" id="denuncianteId" value="@Model.denuncia.DENUNCIANTE_ID" />
        <input type="hidden" id="creationDate" value="@DateTime.Now" />
        <input type="hidden" id="grupoIdDenunciantes" value="@Model.denuncia.grupoId" />
        <input type="hidden" id="datosCoprecId" value="@Model.denuncia.idDatosCoprec" />
        <br />

        <div class="row">
            <label class="col-xs-3">Dni Denunciante : </label>
            <input type="text" class="form-control col-xs-3" placeholder="DNI Denunciante" id="dni" />
            <button class="btn btn-info btn-sm" id="Buscador" type="submit"><i class="glyphicon glyphicon-search"></i></button>

            <input type="checkbox" checked="@Model.denuncianteIndividual" id="checkboxDenuncianteIndividual" onchange="habilitarSolapaDenunciantes(this)" />
            <label>Denunciante Individual</label>
        </div>
        <div class="row">
            <label class="col-xs-3">Nombre : </label>
            <input type="text" class="form-control col-xs-3" placeholder="Nombre Denunciante" id="nombre" />
            <button class="btn btn-info btn-sm" id="Cleaner"><i class="glyphicon glyphicon-backward"></i></button>
        </div>
        <div class="row">
            <label class="col-xs-3">Apellido : </label>
            <input type="text" class="form-control col-xs-3" placeholder="Apellido Denunciante" id="apellido" />
            <button class="btn btn-primary btn-sm" id="alta"><i class="glyphicon glyphicon-export"></i></button>
        </div>


    </div>

    <div class="borde">
        <div class="row">
            <label class="col-xs-3">Tramite CRM : </label>
            <input type="text" id="tramiteCrm" class="form-control col-xs-3" placeholder="Tramite CRM" style="margin-left: -120px;" value="@Model.denuncia.TRAMITECRM" />
            <label class="col-xs-3">Número de Línea : </label>
            <input type="text" id="numeroLinea" class="form-control col-xs-3" placeholder="Nro de Linea" style="margin-left: -120px;" value="@Model.denuncia.OBJETORECLAMO" />
        </div>
        <div class="row">
            <label class="col-xs-3">Nro de Cliente/Contrato : </label>
            <input type="text" id="nroClienteContrato" class="form-control col-xs-3" placeholder="Nro de Cliente/Contrato" style="margin-left: -120px;" value="@Model.denuncia.nroClienteContrato" />
        </div>
    </div>

    <div class="borde">
        <div class="row">
            <label class="col-xs-3">Fecha de Notificacion: </label>

            @if (Model.denuncia.DenunciaId > 0)
            {
                <input id="fechaNotificacion" type="date" class="form-control col-xs-1" placeholder="Fecha de Notificacion" style="margin-left:-120px;" value="@Model.denuncia.FSELLOCIA.Date.ToString("yyyy-MM-dd")" />
            }
            else
            {
                <input id="fechaNotificacion" type="date" class="form-control col-xs-1" placeholder="Fecha de Notificacion" style="margin-left:-120px;" value="@Model.denuncia.FSELLOCIA" />
            }
            <label class="col-xs-3">Fecha Notificacion Gcia: </label>

            @if (Model.denuncia.DenunciaId > 0)
            {
                <input id="fechaNotificacionGcia" type="date" class="form-control col-xs-1" placeholder="Fecha de Notificacion Gcia" style="margin-left:-120px;" value="@Model.denuncia.FSELLOGCIADC.Date.ToString("yyyy-MM-dd")" />
            }
            else
            {
                <input id="fechaNotificacionGcia" type="date" class="form-control col-xs-1" placeholder="Fecha de Notificacion Gcia" style="margin-left:-120px;" value="@Model.denuncia.FSELLOGCIADC" />
            }
        </div>

        <div class="row">
            <label class="col-xs-2" style="margin-right:140px;">Nro Expediente: </label>
            <input type="text" id="numeroExpediente" class="form-control col-xs-1" placeholder="Nro de Expediente" style="margin-left: -120px;" value="@Model.denuncia.EXPEDIENTE_ID" />
            <label class="col-xs-3">Responsable Interno: </label>
            <text class="col-xs-3">Responsable-Interno</text>
        </div>
    </div>


    <div class="borde">
        <div class="row">
            <label class="col-xs-2">Organismo: </label>
            @Html.DropDownListFor(m => m.organismoSeleccionado, Model.Organismos, "", new { @class = "col-xs-1 form-control", id = "comboOrganismo", style = "margin-left:-30px;margin-right:40px;" })

            <label class="col-xs-2">Estudio Jurídico: </label>

            @Html.DropDownListFor(m => m.estudioSeleccionado, Model.Estudios, "", new { @class = "col-xs-1 form-control", id = "comboEstudioEdicion", style = "margin-left:-30px;margin-right:40px;"@*, disabled = "disabled"*@})
        </div>

        <div class="row">
            <label class="col-xs-2">Modalidad Gestión: </label>
            @Html.DropDownListFor(m => m.modalidadGestionSeleccionada, Model.modalidadesDeGestion, "", new { @class = "col-xs-1 form-control", id = "comboModalidadesGestionEdicion", style = "margin-left:-30px;margin-right:40px;" })

            <label class="col-xs-2">SubTipo Proceso: </label>
            @Html.DropDownListFor(m => m.subTipoProcesoSeleccionado, Model.subTiposProceso, "", new { @class = "col-xs-1 form-control", id = "comboSubTiposProceso", style = "margin-left:-30px;margin-right:40px;" })

        </div>
        <div id="bloqueCamposCoprec">

            <div class="row">
                <label class="col-xs-2">Mediador : </label>
                @Html.DropDownListFor(m => m.mediadorSeleccionado, Model.mediadores, "", new { @class = "col-xs-1 form-control", id = "comboMediadores", style = "margin-left:-30px;margin-right:40px;" })
                @*<input type="text" class="form-control col-xs-1" id="mediador" style="margin-left:-30px" placeholder="Mediador" />*@

                <label class="col-xs-2" @*style="margin-left:-10px;"*@>Domicilio Mediador: </label>
                @Html.DropDownListFor(m => m.domicilioMediadorSeleccionado, Model.domiciliosMediadores, "", new { @class = "col-xs-1 form-control", id = "comboDomiciliosMediadores", style = "margin-left:-30px;margin-right:40px;"@*, disabled = "disabled"*@})
                @*<input type="text" class="col-xs-2" id="domicilioMediador" />*@
            </div>
            <div class="row">
                <label class="col-xs-3">Reclamo Relacionado : </label>
                <input type="text" class="form-control col-xs-3" id="reclamoRelacionado" placeholder="Reclamo Relacionado" style="margin-left: -120px;" value="@Model.denuncia.reclamoRelacionado" />

            </div>
        </div>
    </div>

    <div class="borde">
        <div class="row">
            <label class="col-xs-2">Servicio Denunciado: </label>
            @Html.DropDownListFor(m => m.servicioSeleccionado, Model.Servicios, "", new { @class = "col-xs-1 form-control", id = "comboServicios", style = "margin-left:-30px;margin-right:40px;" })

            <label class="col-xs-2">Motivo Reclamo: </label>
            @Html.DropDownListFor(m => m.motivoReclamoSeleccionado, Model.motivosDeReclamo, "", new { @class = "col-xs-1 form-control", id = "comboMotivosReclamo", style = "margin-left:-30px;margin-right:40px;"@*, disabled = "disabled"*@})

        </div>

        <div class="row">
            <label class="col-xs-2">Estado Conciliación: </label>
            @Html.DropDownListFor(m => m.subEstadoSeleccionado, Model.SubEstados, "", new { @class = "col-xs-1 form-control", id = "comboSubEstados", style = "margin-left:-30px;margin-right:40px;" })

            <label class="col-xs-2">Fecha  Resultado:</label>
            <input type="date" class="form-control col-xs-1" id="fechaResultado" placeholder="Fecha de Resultado" style="margin-left:-30px;" value="@Model.denuncia.FECHARESULTADO" />
        </div>


    </div>

    @if (!Model.eventos.Any())
    {
        <div class="borde">
            <div class="row">
                <input type="hidden" id="tipoEvento" value="3" />
                <label class="col-xs-2">Tipo Evento</label>
                @Html.DropDownListFor(m => m.tipoEventoSeleccionado, Model.tipoEventos, "", new { @class = "col-xs-1 form-control", id = "comboTipoEventos", style = "margin-left:-30px;margin-right:40px;" })

                @*<input type="hidden" id="reqInforme" value="2" />*@
                <label class="col-xs-2">Req.Informe:</label>
                @Html.DropDownListFor(m => m.reqInformeSeleccionado, Model.reqsInforme, "", new { @class = "col-xs-1 form-control", id = "comboReqsInforme", style = "margin-left:-30px;margin-right:40px;" })

            </div>

            <div class="row">
                <label class="col-xs-2">Fecha Vencimiento: </label>
                <input id="fechaVencimiento" type="date" class="form-control col-xs-1" style="margin-left:-30px;" />
                <label class="col-xs-2" style="margin-left: -10px;">Hora Vencimiento: </label>
                <input type="time" id="horaVencimiento" class="form-control col-xs-1" style="margin-left:-30px;" />
            </div>
        </div>
    }

    @if (Model.denuncia.DenunciaId > 0)
    {
        <div class="bordeBotonera">
            <div class="row">

                <input type="button" class="btn btn-primary btn-sm btnGuardar" value="Editar" id="EditarDenuncia" onclick="editarDenuncia(this)" />

            </div>
        </div>
    }
    else
    {
        <div class="bordeBotonera">
            <div class="row">

                <input type="button" class="btn btn-primary btn-sm btnGuardar" value="Guardar" id="GuardarDenuncia" />

            </div>
        </div>

    }
    <div class="borde" style="padding-top:10px;padding-bottom:10px;">

        @if (Model.denuncia.DenunciaId > 0)
        {
            <div class="row">
                <h4 style="padding-left:30px;" class="col-xs-2">Eventos</h4>
            </div>
            <div class="row">
                @Html.DropDownListFor(m => m.tipoEventoSeleccionado, Model.tipoEventos, "", new { @class = "col-xs-1 form-control", id = "comboTipoEventoNuevo", style = "margin-right:20px;" })
                <input type="button" value="Nuevo" id="nuevoEvento" class="btn btn-info btn-sm col-xs-1" onclick="cleanNuevoModal()" data-toggle="modal" data-target="#nuevoEventoModal" disabled />
            </div>
        }
        @*<div id="divlistaEventos" class="borde" style="margin-left:-20px;margin-right:-20px;">

                @Html.Partial("EventosSP", Model.eventos)

            </div>*@

        @*inicio Popup Nuevo*@
        <div class="modal fade" id="nuevoEventoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="border-radius:4px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#337ab7;color:whitesmoke">
                        @*#337ab7*@

                        <button type="button" class="close" data-dismiss="modal">×</button>

                        <h4 class="modal-title text-center" id="myModalLabel">Nuevo Hito</h4>


                    </div>
                    <div class="modal-body center-block" @*style="background-color:#f2f2f2;"*@>
                        <div id="BodyContent">
                            <br />
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <input type="text" id="idTipoEventoSeleccionado" hidden />

                                <div class="form-horizontal" style="margin-left:70px;">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    @Html.HiddenFor(model => model.evento.DenunciaId)

                                    <div class="row">
                                        @Html.LabelFor(model => model.evento.CONTESTADO, htmlAttributes: new { @class = "col-xs-4" })

                                        @Html.CheckBoxFor(model => model.evento.CONTESTADO, new { @class = "col-xs-1", style = "margin-left:-45px;", id = "contestadoEN" })
                                        @Html.ValidationMessageFor(model => model.evento.CONTESTADO, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="row">
                                        @Html.LabelFor(model => model.evento.tipoEvento, htmlAttributes: new { @class = "col-xs-4", style = "margin-right:20px;" })
                                        <input type="text" id="tipoEventoSeleccionado" class="form-control" readonly />



                                    </div>

                                    <div class="row">

                                        @Html.LabelFor(model => model.evento.Fecha, htmlAttributes: new { @class = "col-xs-4" })

                                        @*@Html.EditorFor(model => model.evento.Fecha,new { @class = "form-control col-xs-1",@type = "date", id = "fechaVencimientoEN", style = "margin-left:-30px;"  })*@
                                        <input type="date" class="form-control col-xs-1" id="fechaVencimientoEN" style="margin-left:-30px;" />
                                        @Html.ValidationMessageFor(model => model.evento.Fecha, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="row">
                                        <label class="col-xs-4">Hora Vencimiento:</label>
                                        <input type="time" id="horaVencimientoEN" class="form-control col-xs-1" style="margin-left:-30px;" />

                                    </div>

                                    <div class="row">
                                        @Html.LabelFor(model => model.evento.REQUERIMIENTOINFORME, htmlAttributes: new { @class = "col-xs-4", style = "margin-right:20px;" })

                                        @Html.DropDownListFor(model => model.evento.REQUERIMIENTOINFORME, Model.reqsInforme, "", new { @class = "form-control col-xs-1",@id = "comboRequerimientoInformeEN", @*style = "margin-left:-30px;"*@})
                                        @Html.ValidationMessageFor(model => model.evento.REQUERIMIENTOINFORME, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="row">
                                        @Html.LabelFor(model => model.evento.SOLUCIONADO, htmlAttributes: new { @class = "col-xs-4" })

                                        @Html.DropDownListFor(model => model.solucionadoSeleccionado, Model.solucionados, "", new { @class = "form-control col-xs-1", @id = "comboSolucionadoEN", style = "margin-left:-30px;" })
                                        @Html.ValidationMessageFor(model => model.evento.SOLUCIONADO, "", new { @class = "text-danger" })
                                        @*@Html.CheckBoxFor(model => model.evento.SOLUCIONADO, new { @class = "col-xs-1", style = "margin-left:-45px;", id = "solucionado" })
                                            @Html.ValidationMessageFor(model => model.evento.SOLUCIONADO, "", new { @class = "text-danger" })*@


                                    </div>



                                    <div class="row">
                                        @Html.LabelFor(model => model.evento.Observacion, htmlAttributes: new { @class = "col-xs-4", style = "margin-right:20px;" })
                                        @*@Html.TextAreaFor(model => model.evento.Observacion, new { htmlAttributes = new { @class = " form-control col-xs-3", @rows = "8", @cols = "50", id = "observaciones", style = "margin-left:-30px;" } })*@
                                        <textarea class=" form-control col-xs-3" style="max-height:100px;" id="observacionesEN">@Model.evento.Observacion</textarea>
                                        @Html.ValidationMessageFor(model => model.evento.Observacion, "", new { @class = "text-danger" })

                                    </div>


                                </div>
                            }
                            <br />
                        </div>
                        <div class="modal-footer" style="background-color:#f2f2f2;">
                            <div class="row">

                                <input id="guardarNuevoEvento" type="button" class="btn btn-sm btn-primary col-xs-3" value="Guardar" onclick="guardarNuevoEvento()" style="margin-left:150px;" />
                                <input type="button" class="btn btn-sm btn-toolbar col-xs-3" style="background-color:#cccccc;" value="Cancelar" data-dismiss='modal' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*----------- Fin Popup Nuevo ----------*@

        </div>
        @*esto no estaba*@
        @*<div >*@
        <div id="divlistaEventos" class="borde" style="margin-left:-20px;margin-right:-20px;">

            @Html.Partial("EventosSP", Model.eventos)

        </div>
        @*</div>*@
        @*----*@
    </div>
</div>